<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let product of products">
      <ion-item>
        <ion-thumbnail slot="start">
          <ion-img [src]="product.product_images"></ion-img>
        </ion-thumbnail>
        <div class="product_details">
          <ion-label class="pname">{{product.name}}</ion-label>
          <ion-label class="pproducer">{{product.producer}}</ion-label>
          <div class="costrating">
            <div class="costDiv">
              <ion-label class="pcost">₹{{product.cost}}</ion-label>

            </div>
            <app-rating class="rating"></app-rating>

          </div>
        </div>
      </ion-item>
      <ion-item-options>
        <ion-button class="deleteBtn" color="danger" (click)="presentAlertConfirm1(i)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>