<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-slides pager="true" [options]="{effect: 'flip'}">
      <ion-slide>
        <img src="https://picsum.photos/200/300?image=1068" />
      </ion-slide>
      <ion-slide>
        <img src="https://picsum.photos/200/300?image=1059" />
      </ion-slide>
      <ion-slide>
        <img src="https://picsum.photos/200/300?image=999" />
      </ion-slide>
      <ion-slide>
        <img src="https://picsum.photos/200/300?image=946" />
      </ion-slide>
    </ion-slides>
  </ion-card>
  <div class="cardsContainer">
    <ion-row class="ionrow">
      <ion-col class="ioncol">
        <ion-card class="ioncard">
          <p class="ptable">Tables</p>
        </ion-card>
      </ion-col>
      <ion-col class="ioncol">
        <ion-card class="ioncard">
          <p class="psofa">Sofas</p>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="ionrow">
      <ion-col class="ioncol">
        <ion-card class="ioncard">
          <p class="pchair">Chairs</p>
        </ion-card>
      </ion-col>
      <ion-col class="ioncol">
        <ion-card class="ioncard">
          <p class="pcupboard">Cupboards</p>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>

</ion-content>