ion-label {
    display: inline;
    height: 8vh;
    align-items: center;
    justify-content: center;
}

ion-icon {
    color: #fff;
    margin-top: 2.5vh;
    margin-left: 1vw;
}

ion-input {
    display: inline-block;
    color: #fff;
}

.neoHeading {
    color: #fff;
    font-weight: bold;
    font-size: 30px;
}

ion-content {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    --ion-background-color: #e91c1a;
}

.container {

    padding: 3%;
}

.btnLogin {
    background-color: #fff;
    color: #e91c1a;
    border-radius: 5px;
    font-size: 18px;
}

ion-title {
    font-size: 13px;
}

ion-col {
    display: contents;
}

ion-footer {
    background-color: #e91c1a !important;
    color: #fff;
}

.toolbar-background {
    background-color: #e91c1a !important;
}

.add {
    margin-top: 0.5vh;
}

.txtForgot {
    color: #fff;
}

ion-row {
    margin-top: 10px;
    color: #fff;
}

.tandc {
    color: #fff;
    font-size: 13px;
    margin-top: 29px;
}


ion-radio-group {
    margin-left: 20px;
}

ion-header {
    background-color: #d70605;
    color: #fff;
    height: 10vh;
}

ion-title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 90px 1px;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 15px;
    z-index: -1;
}

ion-header {
    height: 4 5px;
}

.ionItem {
    display: flex;
    flex-direction: row;
    border: 1px solid #fff;
    margin-top: 12px;
}

ion-input {
    text-align: -webkit-left;
    text-align: left;
}