<ion-header>

  <ion-buttons slot="start">
    <ion-button (click)="goBack()">
      <ion-icon name="arrow-round-back"></ion-icon>
    </ion-button>

  </ion-buttons>
  <ion-title>
    Register
  </ion-title>

</ion-header>

<ion-content padding center text-center>
  <div class="container">
    <h1 class="neoHeading">NeoSTORE</h1>
    <div class="ionItem">
      <ion-label>
        <ion-icon name="person"></ion-icon>
      </ion-label>
      <ion-input [(ngModel)]="uname" class="text-input" placeholder="First Name"></ion-input>
    </div>
    <div class="ionItem">
      <ion-label>
        <ion-icon name="person"></ion-icon>
      </ion-label>
      <ion-input [(ngModel)]="password" class="text-input" placeholder="Last Name"></ion-input>

    </div>
    <div class="ionItem">
      <ion-label>
        <ion-icon name="mail"></ion-icon>
      </ion-label>
      <ion-input [(ngModel)]="uname" class="text-input" placeholder="Email"></ion-input>
    </div>
    <div class="ionItem">
      <ion-label>
        <ion-icon name="lock"></ion-icon>
      </ion-label>
      <ion-input [(ngModel)]="password" class="text-input" placeholder="Password"></ion-input>
    </div>
    <div class="ionItem">
      <ion-label>
        <ion-icon name="lock"></ion-icon>
      </ion-label>
      <ion-input [(ngModel)]="uname" class="text-input" placeholder="Confirm Password"></ion-input>
    </div>

    <ion-row>
      <ion-radio-group>
        <ion-col>
          Gender: &nbsp;&nbsp;
        </ion-col>
        <ion-col>
          <ion-radio value="Male"></ion-radio>&nbsp;
          <ion-label>Male</ion-label>&nbsp;&nbsp;

        </ion-col>
        <ion-col>
          <ion-radio value="Female"></ion-radio>&nbsp;
          <ion-label>Female</ion-label>
        </ion-col>
      </ion-radio-group>
    </ion-row>
    <div class="ionItem">
      <ion-label>
        <ion-icon name="phone-portrait"></ion-icon>
      </ion-label>
      <ion-input class="text-input" placeholder="Phone No"></ion-input>
    </div>
    <ion-item class="check">
      <ion-checkbox color="light"></ion-checkbox> &nbsp;
      <ion-label class="tandc">I agree the terms & conditions.</ion-label>
    </ion-item>

    <ion-button class="btnLogin" color="light" expand="block" (click)="onLogin()">
      REGISTER
    </ion-button>
  </div>
</ion-content>